body {margin: 0}
.header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000;
	text-decoration: none;
	background-image: url('Images/new_bg_1200b.jpg');
	background-repeat: no-repeat;
	background-position: -14px 0;
	padding: 0;
	width: 1200px;
	height: 140px;
	position: relative
}
.mainContainer {padding: 10px}
td {padding: 3px 5px}
.rowHeader {background-color: #B2B2B2}
.rowOdd {background-color: #F7F7F7}
.rowEven {background-color: #E8EDEA}
.rowItalic {
	font-style: italic;
	color: blue
}
.mainBody {
	width: 100%;
	position: relative
}
.middleBody 
{
	width: 1200px;
	margin: 0 auto
}

.mckLogo
{
	position: absolute;
	left: 25px;
	top: 25px
}
.siteTitle
{
	position: absolute;
	font-family: Bower, Georgia, 'Times New Roman', serif;
	color: #fff;
	font-size: 22pt;
	left: 400px;
	top: 35px
}
.menuLine
{
	position: absolute;
	left: 1px;
	top: 100px;
	width: 1180px;
}
.menuLine2 {
	position: absolute;
	left: 1px;
	top: 115px;
	width: 1200px
}
.menuItem
{
	position: relative;
	float: left;
	border: 1px solid #4A8DB7;
	border-radius: 5px; 
	cursor: pointer; 
	text-align: center;  
	height: 20px; 
	line-height: 20px; 
	white-space: nowrap; 
	margin-left:7px; 
	padding: 0 6px;
	color: #fff
}
.menuItem:hover
{
	border-color: #FFF;
}
.menuButton 
{
	border-color: #F00;
	float: right;
}
.menuLine1 {
	position: absolute;
	left: 876px;
	top: 58px;
	width: 130px
}
.selected
{
	background-color:#FFF;
	border-color: #009DE7;
	color: #051C2C
}
.dataTable
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	color: #000;	
}
.searchLabel
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	color: #000;
	margin-bottom: 5px;
}
#searchBox
{
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	color: #000;
}

.infoText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #f00;
}